
<html>
    <head lang="es">
        <title>Señores del Placard</title>
        <meta charset="utf-8" >
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/stylesheets/style.css">
      </head>
      <body>
          <h1>BIENVENIDO A CONTACTO</h1>
      </body>
</html>